<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

</head>

<body>
    <div class="contenedor">

        <div class="header">
            <h1>Examen</h1>
            <p>😎 Juan Astorga</p>
        </div>

        <div class="contenido">
            <form method="post">
                <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
                    <button class="button button1" type="submit" value="1" name="valor">Ejercicio 1</button>
                    <button class="button button2" type="submit" value="2" name="valor">Ejercicio 2</button>
                </div>
            </form>
        </div>

        <div class="footer">
            <p>Derechos Reservados &copy; 2023 | Juan Astorga</p>
        </div>
    </div>

</body>

</html>